#hoofdtitel {
  background-color: #200063;
}

.list-item {
  height: 90;
}

.texttitel {
  fill: white;
  y: 50%;
  x: 50%;
  text-anchor: middle;
  font-size: 23;
  font-weight: bold;
  word-wrap: break-word;
}

.textartiest {
  display: block;
  fill: white;
  y: 80%;
  x: 50%;
  text-anchor: middle;
  font-size: 15;
}

.line {
  height: 5;
  width: 120%;
  fill: #E22905;
  x: -10%;
  y: 100%;
  z-index: 3;
}

.header text {
  font-weight: bold;
  fill: #E22905;
  font-size: 30;
}

.bg {
  fill: #200063;
  width: 100%;
  height: 90%;
  x: 0;
  y: 10;
}

#touch {
  width: 100%;
  height: 100%-6;
  x: 0;
  y: 0;
  opacity: 0;
}
